
<container class="sliders">
  <div class="category-container cf">
    <div class="label">Access to finance</div>
    <div id="finance"></div>
    <div id="finance-counter"></div>
  </div>  
  <div class="category-container cf">
    <div class="label">Skills</div>
    <div id="skills"></div>
    <div id="skills-counter"></div>
  </div>  
  <div class="category-container cf">
    <div class="label">Business Environment</div>
    <div id="busenv"></div>
    <div id="busenv-counter"></div>
   </div> 
  <div class="category-container cf">
    <div class="label">Entrepreneurial Culture</div>
    <div id="culture"></div>
    <div id="culture-counter"></div>
  </div>
  <div class="category-container cf">
    <div class="label">Physical Infrastructure</div>
    <div id="inf"></div>
    <div id="inf-counter"></div>
  </div>
  <div class="category-container cf">
    <div class="label">Digital Infrastructure</div>
    <div id="diginf"></div> 
    <div id="diginf-counter"></div>
  </div>
  <div class="category-container cf">
    <div class="label">Agglomeration Effects</div>
    <div id="agglom"></div>
    <div id="agglom-counter"></div>
  </div>
  <div class="category-container cf">
    <div class="label">Market Conditions</div>
    <div id="market"></div>
    <div id="market-counter"></div>
  </div>
  <div class="category-container cf">
    <div class="label">Lifestyle</div>
    <div id="lifestyle"></div>
    <div id="lifestyle-counter"></div>
  </div>
</container>
