<main class="cf"> 
  <div class="header">
    <img class="edf-logo" src="assets/european-digital-forum-logo.png"/>
  </div>
  <container class="sliders">
    <div  class="about-text">The European Digital Forum is a think tank dedicated to empowering web entrepreneurs and growing Europe’s digital economy. As part of our work e are creating the European Digital Readiness Index to measure how well different European cities are facilitating digital entrepreneurship. To help us create this index indicate on the sliders below how important you think the factors are for supporting digital entrepreneurship </div>
    <div class="category-container cf">
      <div class="label">Access to finance</div>
      <div class="slider" id="finance-slider"></div>
      <div id="finance" class="counter">50</div>
    </div>  
    <div class="category-container cf">
      <div class="label">Skills</div>
      <div class="slider" id="skills-slider"></div>
      <div id="skills" class="counter">50</div>
    </div>  
    <div class="category-container cf">
      <div class="label">Business Environment</div>
      <div class="slider" id="env-slider"></div>
      <div id="env" class="counter">50</div>
     </div> 
    <div class="category-container cf">
      <div class="label">Entrepreneurial Culture</div>
      <div class="slider" id="culture-slider"></div>
      <div id="culture" class="counter">50</div>
    </div>
    <div class="category-container cf">
      <div class="label">Physical Infrastructure</div>
      <div class="slider" id="inf-slider"></div>
      <div id="inf" class="counter">50</div>
    </div>
    <div class="category-container cf">
      <div class="label">Digital Infrastructure</div>
      <div class="slider" id="diginf-slider"></div> 
      <div id="diginf" class="counter">50</div>
    </div>
    <div class="category-container cf">
      <div class="label">Agglomeration Effects</div>
      <div class="slider" id="agglom-slider"></div>
      <div id="agglom" class="counter">50</div>
    </div>
    <div class="category-container cf">
      <div class="label">Market Conditions</div>
      <div class="slider" id="market-slider"></div>
      <div id="market" class="counter">50</div>
    </div>
    <div class="category-container cf">
      <div class="label">Lifestyle</div>
      <div class="slider" id="lifestyle-slider"></div>
      <div id="lifestyle" class="counter">50</div>
    </div>
    <div class="submit-vote">SUBMIT YOUR CHOICE</div>
    <div class="success-notice"></div>
  </container>
</main>
